section.one {
  height: 100vh;
  width: 90vw;
  justify-content: space-around;
  margin: auto;
}
.logo {
  width: 20px;
  margin: 15px 20px 15px 0px;
}
.name {
  font-weight: bolder;
  font-size: 55px;
}
.title {
  color: var(--dark-gray);
  font-size: 18px;
}
.links {
  justify-content: flex-start;
}
.button {
  justify-content: flex-start;
  background-color: var(--black);
  color: var(--white);
  width: max-content;
  padding: 3px 10px 7px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.button-logo {
  width: 20px;
  display: inline;
  filter: invert(1);
  margin-left: 5px;
  transform: translateY(3px);
}
.projects {
  height: 80vh;
  width: 23vw;
  border: 3px solid var(--dark-gray);
  border-radius: 15px;
  padding: 10px 10px;
}
.project-title {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  margin: 5px;
}
.project-cards {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.project-cards::-webkit-scrollbar {
  display: none;
}

.project-card {
  border: 2px solid var(--light-gray);
  border-radius: 15px;
  margin: 13px 0px;
  padding: 10px;
}
.project-card div {
  margin-top: 10px;
}
.card-title {
  font-size: 18px;
}
.card-description {
  font-size: 14px;
}
.card-button {
  margin-top: 10px;
  font-size: 13px;
}
.card-button a {
  color: var(--white);
}
.card-button-logo {
  width: 7px;
}
@media screen and (max-width: 992px) {
  .one {
    flex-direction: column;
  }
}
