@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Josefin+Sans&display=swap");

:root {
  --white: rgb(231, 231, 231);
  --black: rgb(11, 10, 12);
  --light-gray: rgb(177, 177, 177);
  --dark-gray: rgb(92, 92, 92);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--white);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--white);
  background: var(--black);
}
::selection {
  color: var(--white);
  background: var(--black);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
